/* HaroldHuggers - William Chen, Zhao Yu Lin
SoftDev
k20- adding css to theonionsone
2021-11-29 */
body {
  background-color: #2680a6;
}

input[type="text"] {
  /* background-color: #78c0e0; */
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 3px 3px;
  cursor: pointer;
  width: 400px;
  box-sizing: border-box;
  border-radius: 0;
  background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em
      no-repeat,
    linear-gradient(90deg, #449dd1, #449dd1) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #78c0e0, #78c0e0) left bottom/100% no-repeat;
}
input[type="password"] {
  /* background-color: #78c0e0; */
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 3px 6px;
  cursor: pointer;
  width: 400px;
  box-sizing: border-box;
  border-radius: 0;
  background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em
      no-repeat,
    linear-gradient(90deg, #449dd1, #449dd1) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #78c0e0, #78c0e0) left bottom/100% no-repeat;
}

input[type="confirm"] {
  /* background-color: #78c0e0; */
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 0px 6px;
  cursor: pointer;
  width: 400px;
  box-sizing: border-box;
  border-radius: 0;
  background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em
      no-repeat,
    linear-gradient(90deg, #449dd1, #449dd1) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #78c0e0, #78c0e0) left bottom/100% no-repeat;
}

a {
  color: black;
}
